<!-- blog.ejs -->
<div class="create-blog content blog-post">
  <form method="post" action="/create">
    <label for="title">Title:</label>
    <input autocomplete="off" autofocus name="title" type="text" placeholder="Title" required>
    <label for="body">Blog body:</label>
    <input autocomplete="off" autofocus name="body" type="text" placeholder="Make a post?" required>
    <input type="submit">
  </form>
</div>
