<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- Include the head partial -->
  <body>
    <%- include('./partials/nav.ejs') %> <!-- Include the nav partial -->
    <%- include(body) %> <!-- Include the body partial -->
    <%- include('./partials/footer.ejs') %> <!-- Include the footer partial -->
  </body>
</html>
