body {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 0;
  padding-top: 80px; /* Add a top padding to the body to avoid the fixed navbar */
  background-color: #f2f2f2;

  color: white;

  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

/* Style the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  text-transform: uppercase;
  background-color: #333;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Style the navigation links */
nav ul li {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  transition: background-color 1s ease;

  font-size: 1.5em;
  font-weight: 900;
}

/* Change color on hover */
nav ul li:hover {
  background-color: #ddd;
  transition: background-color 1s ease;
}

.nav-headers {
  font-size: 20px;
  font-weight: bold;
}

.nav-headers a {
  color: white;
  transition: 0.5s ease;
}

/* Transitions: Add transitions to your hover effects to make them smoother. */
.nav-headers a:hover {
  color: black;
  transition: color 0.5s ease;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 80px auto 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  margin-left: 16px;
}

.blog-post {
  margin: 10px 0;
  padding: 100px;
}

.blog-posts {
  list-style-type: none;
}

.create-blog form {
  margin: 0 auto;
}

.create-blog label {
  display: block;
  margin-top: 24px;
  margin-bottom: 6px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
  height: 120px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 6px;
  border: 0;
  font-size: 1.2em;

  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.5s ease-in-out;
  transition: background-color 0.5s ease;
}

input[type="submit"]:hover {
  background-color: black;
  border: 1px solid white;
  transition: border-color 0.5s ease-in-out;
  transition: background-color 0.7s ease;
}
